.settings {
    margin: 2rem 0;
    div {
        font-weight: bold;
        cursor: pointer;
        width: 50%;
        p {
            margin: 0 1rem;
            text-align: center;
            padding: .5em .2rem;
        }
    }
}