.card {
    flex: 1;
    padding: 1.5rem;
    background: #fff;
    h1 {
        font-size: 1.2rem;
    }
    .btn {
        &Toolbar {
            margin-top: 1.5rem;
        }
        border-radius: 2rem !important;
        text-transform: uppercase;
        font-size: .7rem;
        background: #575757;
        color: #fff 
    }
    .icon {
        margin-left: .4rem;
    }
}