.header {
    text-align: center;
    h1 {
        font-size: 1.8rem;
    }
    h4 {
        font-size: .8rem;
        font-weight: normal;
        margin-top: -.7rem;
        margin-bottom: 1rem;
    }
    border-bottom: 5px solid #575757;
}