.header {
    text-align: center;
    margin-top: 1rem;
    h1 {
        font-size: 1.8rem;
        @media screen and (max-width: 48em){
            font-size: 1.3rem;
        }
        @media screen and (max-width: 30em){
            font-size: 1rem;
        }
    }
    h4 {
        font-size: .8rem;
        font-weight: normal;
        margin-top: -.7rem;
        margin-bottom: 1rem;
    }
    border-bottom: 5px solid #575757;
}