.sidebar {
    height: 100%;
    background: #494e52;
    text-transform: uppercase;
    a {
        text-decoration: none;
        li {
            p {
                font-size: .7rem !important;
                font-weight: bold;
            }
        }
    }
    p {
        text-decoration: none;
        color: #fff !important;
        &:hover {
            background: #fff;
            color: #575757 !important;
        }
    }
    &__logout {
        a {
            color: #fff !important;
            &:hover {
                background: #fff;
                color: #575757 !important;
            }
        }
    }
    &__btn {
        position: absolute; 
        top: 3%;
        left: 95%;
        button {
            background: #575757 !important;
            color: #fff !important;
        }
    }
}