body {
    padding: 0 !important;
}

.rs-btn {
    border-radius: 3px !important;
}

.rs-input {
    border: 1px solid #c7c9ca !important;
}

.rs-input[type="file"] {
    border: none !important;
    background: transparent;
}

.rs-nav-item-active {
    background: #fff !important;
    p {
        color: #575757 !important;
    }
}

.active-tab {
    border-top: 8px solid #494e52 !important;
    font-weight: bold;
}

.validation-error {
    color: rgb(230, 2, 2);
}