.profile {
    border-radius: .5rem;
    background: #fff;
    padding: 4rem;
    @media screen and (min-width: 100em) {
        margin: 0 20rem;
    }
    @media screen and (min-width: 75em) and (max-width: 100em) {
        margin: 0 14rem;
    }
    @media screen and (min-width: 62em) and (max-width: 75em) {
        margin: 0 7rem;
        padding: 3rem;
    }
    @media screen and (min-width: 37.5em) and (max-width: 62em) {
        margin: 0 6rem;
        padding: 2rem;
    }
    @media screen and (max-width: 37.5em) {
        margin: 0;
        padding: 1.2rem
    }
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    &__btn {
        display: flex;
        justify-content: center;
        button {
            background: #085FC0;
            color: #fff;
            &:hover, &:focus, &:visited {
                background: #085FC0;
                color: #fff;
            }
        }
    }
}